name: ci-maven-package

on:
  pull_request:
    branches: ["main"]

  push:
    branches:
      - "feature/**"
      - "feat/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: take1-api

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build (mvn clean package)
        run: mvn -B clean package
